/* ESTILO GENERAL */
body {
  font-family: "Rubik", sans-serif;
  text-align: justify;
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
}

/* ESTILO MAIN */
article {
  background: linear-gradient(to top, rgb(235, 235, 235), rgb(250, 250, 250));
}

.main__title {
  margin: 2% auto;
  color: $color4;
  font-size: $title-font;
  font-weight: bolder;
  text-shadow: 2px 2px 10px $color4;
}

.article__title {
  margin: 2% auto;
  color: $color4;
  font-size: $title-article-font;
  text-align: center;
  text-shadow: 2px 2px 10px $color4;
}

.article__text {
  text-align: justify;
  line-height: 1.5;
  font-size: $text-article-font;
  color: $color2;
  & a {
    color: $color2;
  }
}

.img__alto {
  max-height: 65px;
  width: auto;
}

// boton fijo derecha inferior
.fixed-btn {
  position: fixed;
  z-index: 2;
  bottom: 50px;
  right: 8px;
  height: 50px;
  min-width: 50px;
  max-width: 95vw;
  background: #25d366;
  color: inherit;
  border-radius: 50%;
  box-shadow: 1px 6px 24px 0 rgb(7 94 84 / 24%);
  cursor: pointer;
}
.wapp {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: rgb(0 0 0/0) var(--joinchat-ico) 50% no-repeat;
  background-size: 60%;
  overflow: hidden;
}

.btn-wapp {
  color: white;
  font-size: 1.75rem;
  text-align: center;
}

// btn contacto
.btn__contacto {
  border: 0.2px solid $color3;
  box-shadow: 5px 10px 30px -10px $color4;

  &:hover {
    color: $color1;
    background: $color4;
    border: 1px solid red;
  }
}
