/* ESTILO HEADER */
header {
  background-color: $color1;
  top: 0px;
  z-index: 2;
  box-shadow: -5px 5px 15px -7px $shadow-color;

  .header__brand {
    max-height: 3rem;
    margin: 5% auto;
  }
}

// funcion para js que esconda el header
.oculto {
  position: sticky;
}
