/* color negro principal */
$color1: rgb(99, 75, 75);
$color2: rgb(255, 0, 0);
$color3: gray;
$shadow-color: black;

/* variables para fuentes */
$title-font: 3rem;
$title-article-font: 2rem;
$text-article-font: 1.25rem;
$text-card-font: 1rem;
